<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.linked.baselib">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <service android:name="cn.linked.baselib.socket.ChatService"
            android:exported="false"
            android:process=":chatProcess"/>
        <service android:name="cn.linked.baselib.socket.ChatAppService" android:exported="false"/>
        <!-- 对标1080*1920 400dpi -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="432"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="768"/>
    </application>

</manifest>